*{
	padding:0;
	margin:0;
}
header{
	position:relative;
	max-width:1440px;
	margin:0 auto;

}
.background{
	background-color: yellow;
	width:100%;
	height: 100%;
	position:absolute;
	overflow: hidden;
}
.div1{
	width:800px;
	height:1200px;
	transform:rotate(-38deg);
	clip-path: inset(0 0 0 0 round 100px);
	background-color: purple;
	position: absolute;
	right:0;
	left:900px;
	top:-350px;
	z-index: 1;
}
.div2{
	width:700px;
	height:1000px;
	clip-path: inset(0 0 0 0 round 100px);
	background-color: red;
	position: absolute;
	transform: rotate(60deg);
	top:150px;
	left:220px;
	z-index:0;

}

.conteudo{
	display:flex;
	justify-content: space-between;
	flex-wrap:wrap;
	padding:50px 50px 200px 50px;
	text-align:center;
	position:relative;
	z-index: 10;
}
.break{
	height:0;
	width:100%;
}
button:nth-of-type(1) {
	margin-left:auto;
}
img:nth-of-type(2) {
	margin:50px auto 0 auto;
	width:800px;
	display:block;
}